body {
  background: $background;
}

.welcome {
  font-family: $serif-font;
  color: $fontColor;
  font-size: 50px;
  margin-top: 10px;
  margin-left: 35%;
  margin-bottom: 15px;
}

.WeatherInput{
  margin-bottom: 10px;
  margin-left: 45%;
  margin-right: 5px;
}

.locationWarning{
  color: $fontColor;
  font-size: 24px;
  margin-left: 40%;
}


#weatherToday {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  width: 100%;

  color: $fontColor;
}

.todaysWeather {
  color: $fontColor;
  height: 250px;
  font-family: $serif-font;
  border-radius: 5px;
  border-style: solid;
  border-color: $fontColor;
  text-align: center;

}


#weatherGif{
  height: 500px;
  width: 50%;
  display: flex;
  background-color: $background;

}
.snow{
  background: $snowy-gif no-repeat;

}

.rain{
  background: $rain-gif no-repeat;
}

.windy{
  background: $windy-gif no-repeat;
}



.tomorrowsWeather{
  border-color: $fontColor;
  color: $fontColor;
  display: inline-block;
  margin-left: 25%;



}
