// Colours
$background: #2B2E2E;
$sunny:#CAE6E8;
$snowy:#313F54;
$thunderstorms:#595855;
$windy:#A2ABA5;

//Fonts
@import url(https://fonts.googleapis.com/css?family=Oswald|UnifrakturCook:700" rel="stylesheet");

$serif-font: 'Oswald', sans-serif;
$sans-serif-font: 'UnifrakturCook', cursive;
